<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>WSP Component2: Amaren Read</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<section id="cta">
	<div class="container">


	<article>
		<h3>Switch</h3>
		<p class="rale"><strong>to digital</strong></p>
		<div><p class="rale lorem">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet.</p>
		</div>
		<div>
		<p><a href="">Read More</a></p>
		</div>
	</article>

	<article>
		<h3>For your</h3>
		<p class="rale"><strong>digital vision</strong></p>
		<div><p class="rale lorem">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet.</p>
		</div>
		<div>
		<p><a href="">Read More</a></p>
		</div>
	</article>
	</div>
</section>

</body>
</html>