/* 
================================================================================
COMPONENT 9 STYLESHEET Amaren Read
================================================================================ */

body {
    color: #FFF;
    font-family: 'Play', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    box-sizing: border-box;
}

h2 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #777777;
    width: 500px;
    color: #434343;
    margin: 20px auto;
    padding: 1%;
}

h4 {
    color: #FFF;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 9px 0;
}

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    margin: 0 0 18px 0;
    color: #FFF;
}

section {
    position: relative;
    text-align: center;
    width: 1000px;
    margin: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.first {
    position: absolute;
    top: 14%;
    right: 53%;
    background-image: url("../../images/corn.png");
    background-size: 600px 345px;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Play', sans-serif;
    width: 580px;
    height: 270px;
    padding: 2rem;
}

.second {
    position: absolute;
    top: 14%;
    right: -8%;
    background-image: url("../../images/hands.png");
    background-size: 600px 270px;
    background-repeat: no-repeat;
    font-family: 'Play', sans-serif;
    width: 580px;
    height: 270px;
    padding: 2rem;
}

.third {
    position: absolute;
    top: 100%;
    right: 53%;
    background-image: url("../../images/guy.png");
    background-size: 600px 270px;
    background-repeat: no-repeat;
    font-family: 'Play', sans-serif;
    width: 580px;
    height: 270px;
    padding: 2rem;

}

.fourth {
    background-image: url("../../images/field.png");
    background-size: 600px 270px;
    background-repeat: no-repeat;
    font-family: 'Play', sans-serif;
    width: 580px;
    height: 270px;
    padding: 2rem;
}

a {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFF;
    padding: 50px;
    margin-top: 20px;
}

a:hover {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #F9C701;
}