<!DOCTYPE html>
<html>
<head>
	<title>WSP Component9: Amaren Read</title>
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<section class="container">
	<h2>Alternative Fuels</h2>

	<article>

		<h4>Biodiesel</h4>

		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>

	<article>

		<h4>Compressed Natural Gas</h4>

		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>

	<article>

		<h4>Methanol</h4>

		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>

	<article>

		<h4>Ethanol</h4>

		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>
</section>
	
</body>
</html>