<!DOCTYPE html>
<html>
<head>
	<title>WSP Component9: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

<section>
	<h2>Alternative Fuels</h2>
	<hr>

	<article>

		<figure>
			<img src="" alt="Background image for Biodiesel" />
		</figure>

		<h4>Biodiesel</h4>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>

	<article>

		<figure>
			<img src="" alt="Background image for Compressed Natural Gas" />
		</figure>

		<h4>Compressed Natural Gas</h4>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>

	<article>

		<figure>
			<img src="" alt="Background image for Methanol" />
		</figure>

		<h4>Methanol</h4>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>

	<article>

		<figure>
			<img src="" alt="Background image for Ethanol" />
		</figure>

		<h4>Ethanol</h4>
		<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
			corrupti quos dolores et quas molestias excepturi sint occaecati.</p><br>
		<a href="">read more</a>
	</article>
</section>
	
</body>
</html>