<!DOCTYPE html>
<html>
<head>
	<title>WSP Component4: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

<section>

	<figure>
		<img src="" alt="Image/Illustration for horizontal rule" />
	</figure>

	<header>
		<h3>Who We Are?</h3>
	</header>

	<article>

		<figure>
			<img src="" alt="Icon/Illustration for article" />
		</figure>

		<h4>Lorem ipsum dolor sit</h4>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam.</p>
	</article>

	<article>

		<figure>
			<img src="" alt="Icon/Illustration for article" />
		</figure>

		<h4>Lorem ipsum dolor sit</h4>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam.</p>
	</article>

	<article>

		<figure>
			<img src="" alt="Icon/Illustration for article" />
		</figure>

		<h4>Lorem ipsum dolor sit</h4>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam.</p>
	</article>

	<article>

		<figure>
			<img src="" alt="Icon/Illustration for article" />
		</figure>

		<h4>Lorem ipsum dolor sit</h4>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam.</p>
	</article>

	<article>

		<figure>
			<img src="" alt="Icon/Illustration for article" />
		</figure>

		<h4>Lorem ipsum dolor sit</h4>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam.</p>
	</article>

	<article>

		<figure>
			<img src="" alt="Icon/Illustration for article" />
		</figure>

		<h4>Lorem ipsum dolor sit</h4>
		<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna aliqua. Ut enim ad minim veniam.</p>
	</article>

	<figure>
		<img src="" alt="Image/Illustration for horizontal rule" />
	</figure>

</section>

</body>
</html>