/* 
================================================================================
COMPONENT 6 STYLESHEET Amaren Read
================================================================================ */
body {
    color: #9C9E99;

    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    box-sizing: border-box;
    clear: both;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 31px;
    text-align: left;
    color: #000;
    margin-bottom: 50px;
    padding: 1%;
}

h4 {
    color: #101010;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin: 9px 0;
}



p {
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    margin: 0 0 18px 0;
    color: #777777;
}

aside {
    width: 370px;
    margin: 60px 0 0 60px;
    display: block;
}

strong {
    color: #666666;
    font-weight: bolder;
    font-style: normal;
    line-height: 18px;
}

form {
    width: 600px;
    margin: -354px 0 0 600px;
}

input[type="text"] {
    width: 187px;
    margin-right: 10px;
    font-style: normal;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #666666;
    display: inline;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    width: 98%;
    height: 200px;
    line-height: 15px;
    color: #989898;
    margin: 20px 0 20px 0;
    padding: 5px;
    border: 1px solid #666666;
}

button {
    color: #FFF;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: bolder;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
    height: 53px;
    margin: 0 15px 0 0;
    padding: 0 56px 0 42px;
    border-radius: 26px;
    border: none;
    background: #ED3A12 url(../../images/arrow.png) no-repeat 83% 49%;
    text-decoration: none;
}

button:hover{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #66BB50;
    display: inline-block;
    text-decoration: none;
    transition: 0.4s;
}