<!DOCTYPE html>
<html>
<head>
	<title>WSP Component6: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

	<aside>
		<h2>Contact Info</h2>
			<h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h4>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam
					rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
					explicabo. Nemo enim ipsam voluptatem quia.</p>
		<address>
			<strong>The Company Name Inc.<br>
				9870 St Vincent Place,<br>
				Glasgow, DC 45 Fr 45.</strong><br>
				Telephone: +1 800 603 6035<br>
				FAX: +1 800 889 9898<br>
				E-mail: <a href="mailto:info@demolink.org">mail@demolink.org</a>
		</address>
	</aside>

	<h2>Contact Form</h2>
		<form>
			<input type="text" name="name" placeholder="Name:">
			<input type="text" name="email" placeholder="Email:">
			<input type="text" name="phone" placeholder="Phone:"><br>
			<textarea type="text" name="message" placeholder="Message:"></textarea><br>
			<button type="reset">Clear</button>
			<button type="submit">Submit</button>
		</form>

</body>
</html>