<!DOCTYPE html>
<html>
<head>
	<title>WSP Component3: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

<section>
	<h3>Some of Our Features</h3>

	<article>

		<img src="" alt="Icon/Illustration of settings above sub heading" />

		<h4>Fusce Feugiat Malesuada Odio</h4>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
			Integer rutrum ante.</p>
		<p><a href="">Read More</a></p>
	</article>

	<article>

		<img src="" alt="Icon/Illustration of chat above sub heading" />

		<h4>Exceteur Sint Occaecat Cupidatat</h4>
		<p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.
			Sed laoreet aliquam leo.</p>
		<p><a href="">Read More</a></p>
	</article>

	<article>

		<img src="" alt="Icon/Illustration of social media above sub heading" />

		<h4>Aenean Nonummy Hendrerit Mauris</h4>
		<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			Praesent vestibulum molestie.</p>
		<p><a href="">Read More</a></p>
	</article>

</section>
</body>
</html>