/* 
================================================================================
COMPONENT 3 STYLESHEET Amaren Read
================================================================================ */

body {
    color: #000;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}