/* 
================================================================================
COMPONENT  5 STYLESHEET Amaren Read
================================================================================ */

body {
    color: #4C4C4C;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    box-sizing: border-box;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    padding: 1%;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 36px;
    font-size: 16px;
    text-align: left;
    width: 686px;
    display: block;

}

.center {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 686px;
    margin: 8px auto;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 22px;
    padding: 1%;
    color: #090808;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    position: absolute;
    top: 18%;
    left: 3%;
    height: 100px;
    border: none;
}

q {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #090808;
}

.active {
    background-color: #4CAF50;
}

div.active {
    position: absolute;
    top: 40%;
    right: 53%;
    border: 3px solid #777777;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 auto;
}

div:nth-of-type(2) {
    position: absolute;
    top: 40%;
    right: 49%;
    border: 3px solid #777777;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 auto;
}

div:nth-of-type(3) {
    position: absolute;
    top: 40%;
    right: 45%;
    border: 3px solid #777777;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 auto;
}

