/* 
================================================================================
COMPONENT  5 STYLESHEET Amaren Read
================================================================================ */

body {
    color: #4C4C4C;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    box-sizing: border-box;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    padding: 1%;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 36px;
    font-size: 16px;
    text-align: left;
    width: 686px;
    display: block;

}

.center {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 686px;
    margin: 8px auto;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 22px;
    padding: 1%;
    color: #090808;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    float: left;
    height: 100px;
    border: none;
}

q {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #090808;
}

.active {
    background-color: #4CAF50;
}

nav {
    position: absolute;
    top: 40%;
    left: 43.5%;
}

li {
    padding: 0px 15px;
    list-style: none;
    float: left;
}

a {
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #777777;
    border-radius: 50%;
    text-indent: -9999px;
}

@media screen and (max-width: 400px) {

    h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
        padding: 2%;
    }

    h4 {
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
        width: 110px;
        padding: 3%;
        color: #000;
    }

    .center {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        width: 80%;
        margin: 8px auto;
    }

    p {
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        font-size: 0.9em;
        font-weight: 500;
        text-align: center;
        padding: 5px;
        color: #777777;
    }

    q {
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        font-size: 0.9em;
        font-weight: 500;
        color: #777777;
    }

    article {
        width: 375px;
        text-align: left;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    nav {
        position: absolute;
        top: 65%;
        left: 30%;
    }

}
