<!DOCTYPE html>
<html>
<head>
	<title>WSP Component7: Amaren Read</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<section class="s1">

		<img src="../../images/file.png" alt="Icon/Illustration for New Customer" class="icon"/>

		<h2>New Customer</h2>
			<strong>Register Account</strong>
			<p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the
				orders you have previously made.</p>
			<a href="">Continue</a>
	</section>

	<section class="s2">

		<img src="../../images/key.png" alt="Icon/Illustration for Returning Customer" class="icon" />

		<h2>Returning Customer</h2>
		<strong>I am a returning customer</strong>

		<form>
			<h4>E-MAIL ADDRESS</h4>
				<input type="text" name="email" placeholder="Email:">

			<h4>PASSWORD</h4>
				<input type="text" name="password" placeholder="Password:"><br>

			<p><a href="">Forgotten Password</a></p>

			<button type="submit">Login</button>
		</form>
	</section>

</body>
</html>