/* 
================================================================================
COMPONENT 7 STYLESHEET Amaren Read
================================================================================ */

body {
    color: #9C9E99;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #F6F6F3;
    box-sizing: border-box;
    clear: both;
}

h2 {
    font-size: 18px;
    margin: 0 0 5px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
    color: #696B67;
}

h4 {
    color: #9C9E99;
    padding: 10px 0 10px 0;
}

.icon {
    background-repeat: no-repeat;
    height: 45px;
    border: none;
    margin: 8px 21px 20px 0px;
    float: left;
}

.s1 {
    float: left;
    border: 1px solid #777777;
    padding: 27px;
    background-color: #FFF;
    width: 35%;
    height: 275px;
    margin: 20px;
}

.s1 p {
    color: #9C9E99;
    font-size: 18px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 0px 15px 0px;
}

.s1 a {
    width: 50%;
    height: 48px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    margin: 2% 0% 1% 0%;
    padding: 20px;
    background-color: #CCDB38;
}

.s2 {
    border: 1px solid #777777;
    padding: 27px;
    background-color: #FFF;
    width: 36%;
    float: right;
    margin: 20px 104px 0 0;
}

.s2 a {
    font-size: 16px;
    margin: 18px 0 9px 0;
    color: #8AC249;
    display: inline-block;
    text-decoration: none;
}

input[type="text"] {
    width: 90%;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #666666;
}

form {
    border-top: 1px solid #E5E5E5;
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
}

strong {
    font-size: 17px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

button {
    width: 21%;
    height: 48px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    margin: 2% 0% 1% 0%;
    background-color: #CCDB38;
    text-decoration: none;
}

