<!DOCTYPE html>
<html>
<head>
	<title>WSP Component7: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

	<section>

		<figure>
			<img src="" alt="Icon/Illustration for New Customer" />
		</figure>

		<h2>New Customer</h2>
			<h4>Register Account</h4>
		<hr>
			<p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the
				orders you have previously made.</p>
		<hr>
			<p><a href="">Continue</a></p>
	</section>

	<section>

		<figure>
			<img src="" alt="Icon/Illustration for Returning Customer" />
		</figure>

		<h2>Returning Customer</h2>
		<h4>I am a returning customer</h4>
		<hr>

		<form>
			<h4>E-MAIL ADDRESS</h4>
				<input type="text" name="email" placeholder="Email:">

			<h4>PASSWORD</h4>
				<input type="text" name="password" placeholder="Password:"><br>

			<p><a href="">Forgotten Password</a></p>

			<button type="submit">Login</button>
		</form>
	</section>

</body>
</html>