<!DOCTYPE html>
<html>
<head>
	<title>WSP Component8: Amaren Read</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />-->
</head>
<body>

	<section>
		<h2>Meet Our Team</h2>
			<article>

				<figure>
					<img src="" alt="Image of Bradley Grosh" />
				</figure>

				<h4>Bradley Grosh</h4>
				<p>Sed a odio vel augue Donec tortor sapien, luctus at mattis id, pretium vitae est. Donec ante lorem,
					dapibus in venena</p>
			</article>

			<article>

				<figure>
					<img src="" alt="Image of Gloria Mann" />
				</figure>

				<h4>Gloria Mann</h4>
				<p>Donec tortor sapien, luctus at mattis id, pr etium vitae est. Donec ante lorem, dapibus in venenatis
					id, consectetur non risus</p>
			</article>

			<article>

				<figure>
					<img src="" alt="Image of Patrick Pool" />
				</figure>

				<h4>Patrick Pool</h4>
				<p>Donec ante lorem, dapibus in venena tis id, consectetur non risus. Suspendisse at rhoncus tellus.
					Morbi sagittis</p>
			</article>

			<article>
				<figure>
					<img src="" alt="Image of John McCoist" />
				</figure>

				<h4>John McCoist</h4>
				<p>Suspendisse at rhoncus tellus. Morbi sagittis, metus a mattis condimentum turpis auris euismod massa,
					id molestie ju</p>
			</article>
	</section>

</body>
</html>